<h1> edit {{song.info}} </h1>
<!-- <h1> edit {{track-name}} </h1> -->
<br>
<h1>{{time_pos}}</h1>
<br>
<button {{action "playTrack"}}>play track</button>
<button {{action "pause"}}>pause</button>
<button {{action "volume"}}>volume</button>
<button {{action "pan"}}>pan</button>
